@import "../../vars.css";

.container{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 50vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1;
    margin-left: 10%;
    margin-right: 10%;
}

.content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    color: var(--color-text);
    z-index: 1;
}

.title {
    font-size: 72px;
    font-weight: 900;
    margin-bottom: 33px;
    font-family: var(--font-roboto);
    background: linear-gradient(
        90deg,
        rgba(255,255,255,1) 70%, 
        rgba(255,255,255,0) 160%
    );
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
}

.cursor {
    color: white;
    animation: blink 1s infinite;
}

@keyframes blink {
    0%, 50% { opacity: 1; }
    51%, 100% { opacity: 0; }
}

.description{
    font-size: 28px;
    font-family: var(--font-roboto);
    margin-bottom: 52px;
    margin-right: 75px;
}

.contactBtn{
    text-decoration: none;
    background-color: var(--color-primary);
    color: var(--color-text);
    border-radius: 100px;
    font-size: 30px;
    font-weight: 600;
    padding: 17px 26px;
    box-shadow: 0 0 4px 0 rgba(0,0,0,0.25);
    opacity: 1;
    transition: opacity 0.3s ease-in;
}

.contactBtn:hover {
    opacity: 0.6; /* Adjust the value as needed */
}

.heroImg{
    width: 30%;
    z-index: 1;
    border-radius: 15px;

    animation-name: floating;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
}

@keyframes floating {
    0% {
        transform: translate(0, 0px);
    }
    50% {
        transform: translate(0, 10px);
    }
    100% {
        transform: translateY(0, -0px);
    }
}

@media screen and (max-width: 830px) {
    .container{
        flex-direction: column-reverse;
    }

    .title{
        padding-top: 5%;
    }

    .description {
        margin-right: 0;
        text-align: center;
    }

    .content {
        align-items: center;
        text-align: center;
    }
}
